<div
  class="relative py-7 px-5 mt-5 rounded-lg bg-white shadow-sm md:shadow-md relative overflow-hidden"
>
  <h4 class="text-sm uppercase text-gray-800 leading-tight font-bold mb-2">
    {{ title }}
  </h4>

  <div class="grid grid-cols-12">
    <div class="relative col-span-full lg:col-span-3">
      <h3 class="text-3xl text-gray-700 font-semibold leading-tight my-3">
        {{ amount | number }}
      </h3>
      <p
        class="text-sm leading-tight font-semibold"
        [ngClass]="{ 'text-green-500': rate >= 0, 'text-red-500': rate < 0 }"
      >
        {{ rate >= 0 ? "▲" : "▼" }} {{ rate | percent }}
      </p>
    </div>
    <div class="col-span-full lg:col-span-9">
      <div id="chart">
        <apx-chart
        [series]="chartOptions.series"
        [chart]="chartOptions.chart"
        [xaxis]="chartOptions.xaxis"
        [stroke]="chartOptions.stroke"
        [dataLabels]="chartOptions.dataLabels"
        [yaxis]="chartOptions.yaxis"
        [labels]="chartOptions.labels"
        [grid]="{show:false}"
        [colors]="['#9020bd', '#9920c9', '#ad2de0']"
      ></apx-chart>
      </div>
      
    </div>
  </div>

  <svg
  width="24"
  height="24"
  fill="none"
  viewBox="0 0 24 24"
  stroke="currentColor"
  class="absolute top-3 right-3 transform transition-transform duration-500 ease-in-out text-gray-500"
>
  <path
    stroke-linecap="round"
    stroke-linejoin="round"
    stroke-width="2"
    d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z"
  ></path>
</svg>
</div>
<!-- 
<div class="relative rounded-lg shadow-sm">
  <div
    class="p-5 pr-10 grid grid-cols-12 rounded-lg bg-white shadow-sm md:shadow-md relative overflow-hidden"
  >
  <h4 class="text-sm uppercase text-gray-800 leading-tight font-bold">
    New Customers
  </h4>
    <div class="relative col-span-full lg:col-span-3">
      <h3 class="text-3xl text-gray-700 font-semibold leading-tight my-3">
        {{ amount | number }}
      </h3>
      <p
        class="text-sm leading-tight font-semibold"
        [ngClass]="{ 'text-green-500': rate >= 0, 'text-red-500': rate < 0 }"
      >
        {{ rate >= 0 ? "▲" : "▼" }} {{ rate | percent }}
      </p>
    </div>
    <div class="col-span-full lg:col-span-9">
      <div id="chart">
        <apx-chart
        [series]="chartOptions.series"
        [chart]="chartOptions.chart"
        [xaxis]="chartOptions.xaxis"
        [stroke]="chartOptions.stroke"
        [dataLabels]="chartOptions.dataLabels"
        [yaxis]="chartOptions.yaxis"
        [labels]="chartOptions.labels"
        [legend]="chartOptions.legend"
        [title]="chartOptions.title"
        [subtitle]="chartOptions.subtitle"
        [grid]="{show:false}"
      ></apx-chart>
      </div>
      
    </div>
  </div>
  <svg
    width="24"
    height="24"
    fill="none"
    viewBox="0 0 24 24"
    stroke="currentColor"
    class="absolute top-3 right-3 transform transition-transform duration-500 ease-in-out text-gray-500"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z"
    ></path>
  </svg>
</div> -->
