<div class="relative">
  <div (click)="open()" (clickOutside)="clickedOutside()" class="p-1 rounded-full hover:bg-gray-200 cursor-pointer transition-all duration-200">
    <svg width="24" height="24" fill="none" viewBox="0 0 24 24" stroke="currentColor"
    class="transform transition-transform duration-500 ease-in-out text-gray-500">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
      d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z">
    </path>
  </svg>
  </div>

  <div
    *ngIf="isOpen"
    class="w-40 absolute top-6 right-4 bg-white px-4 py-2 shadow-sm md:shadow-md overflow-hidden rounded-md text-sm z-30 text-gray-500">
    <ng-content></ng-content>
  </div>

</div>