<div
  class="relative py-7 px-5 mt-5 rounded-lg bg-white shadow-sm md:shadow-md relative overflow-hidden"
>
  <h4 class="text-sm uppercase text-gray-800 leading-tight font-bold mb-2">
    Inbox
  </h4>

  <div class="cursor-pointer flex flex-wrap justify-between border-b border-gray-200 py-3" *ngFor="let user of users">
    <div class="flex flex-wrap items-center">
      <img class="inline-block h-10 w-10 rounded-full ring-2 ring-white mr-4" [src]="user.avatar" alt="">
      <div>
        <h4 class="text-sm text-gray-700 leading-tight font-semibold">{{ user.name }}</h4>
        <p class="text-gray-400 text-sm">{{ user.status }}</p>
      </div>
    </div>
    <p class="text-gray-400 text-sm mt-2 sm:mt-0">{{ user.time }}</p>
  </div>

  <svg
    width="24"
    height="24"
    fill="none"
    viewBox="0 0 24 24"
    stroke="currentColor"
    class="absolute top-3 right-3 transform transition-transform duration-500 ease-in-out text-gray-500"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z"
    ></path>
  </svg>
  </div>